{% extends "content/base.html" %}

<!-- {% block header %}
   📚 Book Library
{% endblock %} -->

{% block header %}
    <h1>📚 Book Library</h1>
    <p>Welcome to the Book Library! Explore our collection of articles.</p>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'content/css/homepage.css' %}">
{% endblock %}

{% block main %}
    <div class="card-container">
        {% for article in articles %}
            <div class="card">
                <a href="/article/{{ article.id }}">
                    <div class="card-content">
                        <h3>{{ article.title }}</h3>
                        <p class="author">
                            <strong>Author:</strong> {{ article.author.name }}
                        </p>
                        <p>{{ article.perex }}</p>
                        <p class="date">{{ article.date }}</p>
                        <div class="categories">
                            <strong>Categories:</strong>
                            {% for category in article.categories.all %}
                                <span>{{ category.name }}</span>
                            {% endfor %}
                        </div>
                        <button class="btn">Read More</button>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    
    <div id="klikz-17"></div>
    <script src="https://klikz.svs.gyarab.cz/hit/17?front=ff40ff&back=942192"></script>
{% endblock %}

